<div class="latex_content">
	Создание LaTeX документа это программирование: Вы создаёте текстовый файл в LaTeX-разметке, макросы LaTeX обрабатывают его и производят конечный документ.

Такой подход отличается от используемого в WYSIWYG (What You See Is What You Get — что видишь, то и получишь) программах, таких, как Openoffice.org Writer или Microsoft Word.

В LaTeХ:

Во время редактирования документа Вы не можете (обычно) увидеть его окончательный вариант.
Вам, как правило, необходимо знать нужные команды разметки LaTeX.
Иногда сложно получить требуемый вид документа.
С другой стороны, у LaTeX есть и достоинства:

Оформление текста отделено от содержания. Вы полностью сосредотачиваетесь на структуре и содержании документа и забываете о том, как будет выглядеть печатный вариант.
Стиль, шрифты, оформление таблицы и рисунков т. д. согласованы во всём документе.
Одно и тоже оформление можно использовать для любого числа документов.
Легко набирать математические формулы.
Легко создаются алфавитные указатели, сноски, ссылки и библиографические списки.
Большие документы можно разбивать на несколько файлов и работать с ними отдельно, в том числе с использованием систем управления версиями.
Вы не обязаны вручную настраивать шрифты, размер текста, высоту строк или читаемость текста — за всё это LaTeX отвечает сам.
Вам придётся правильно структурировать Ваш документ.
Файлы с исходными текстами можно просмотреть и изменить в любом текстовом редакторе.
Так как исходный документ содержит просто текст, с помощью программных средств на любом языке программирования можно создать таблицы, рисунки, формулы и т. д.


<div class="inp" style="margin-top: 30px;">
	<input type="text"  [(ngModel)]="str">
	<button (click)="text_str=true">submit</button>
	<button (click)="text_str=false">cancel</button>
</div>
<div class="str" *ngIf="text_str" style="margin-top: 10px;">{{str}}</div>

</div>

